{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="container" id="carousel">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static 'images/kim-jong-un-scaled.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="{% static 'images/kim-jong-food.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="{% static 'images/kimjongun2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="{% static 'images/trumpkim.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="{% static 'images/kim-jong-un.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="{% static 'images/kim-jong-food.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/kimjongun2.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </main>

    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-8 col-lg-6 col-xl-4">
            <h5>Categories to display:</h5>
             <div class="btn-group" role="group" aria-label="Basic example">
                 <button type="button" class="btn btn-secondary categories">All</button>
                 {% for category in categories %}
                     <button type="button" class="btn btn-secondary categories">{{ category.category }}</button>
                 {% endfor %}
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-5 col-lg-6 col-xl-4">
            <h5>Filter by:</h5>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Name &#129043;
              </button>
              <ul  id="sort-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item sort-dropitem" href="#" id="-price">Price &#129043;</a></li>
                <li><a class="dropdown-item sort-dropitem" href="#" id="price">Price &#129041;</a></li>
                <li><a class="dropdown-item sort-dropitem" href="#" id="-name">Name &#129043;</a></li>
                <li><a class="dropdown-item sort-dropitem" href="#" id="name">Name &#129041;</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="products container" id="product-list">
        <div class="row" id="product-row">
        {% for product in products %}
            {% include 'home/single_product.html' with product=product %}
        {% endfor %}
        </div>
    </div>

{% endblock %}
