{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="margin: 17%;
    margin-top: 6%; margin-bottom: 6%;" class="border" align="center">
		<h1 class="font-italic">Login</h1>

		<form method="POST">
        {% csrf_token %}
            {{form | crispy}}
            <br>
            <button type="submit" class="btn btn-secondary">Log In</button>
        </form>
        <img src="https://cdn.vox-cdn.com/thumbor/QXK3zfM4dZ5f_s6y1_0Uj9IFiwk=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/18317433/1152948615.jpg.jpg" width="700" height="500" style="padding-top: 50px; padding-bottom: 50px;">

    </div>
    {% comment %}asdfasdfasdfasdfasdfasdf{% endcomment %}
{% endblock content %}
