{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="margin: 17%;
    margin-top: 6%; margin-bottom: 6%;" class="border" align="center">
        <h1 class="font-italic">Login</h1> <br>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 text-center">
                    <center>
                        <form method="POST" class=" col-sm-12 w-50">
                            {% csrf_token %}
                                {{form | crispy}}
                                <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                                        <a href="{% url 'register' %}" style="...">Don't have an account?</a>
                                        <a href="{% url 'password_reset' %}" style="float: left;">Forgot your Password?</a>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                                        <button type="submit" class="btn btn-secondary float-right w-50">Log In</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </center>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                     <img src="https://www.abc.net.au/news/image/8465442-3x2-940x627.jpg" class="img-fluid" style="padding-top: 50px; padding-bottom: 50px;">
                </div>
            </div>
        </div>



    </div>
    {% comment %}asdfasdfasdfasdfasdfasdf{% endcomment %}
{% endblock content %}
