{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <h2 style=" text-align: center;">You have been logged out</h2>
<div class="d-flex justify-content-center">
    <img src="https://miro.medium.com/max/1298/1*dokYzrlZaCGMvG7NqeEprg.png" width="700" height="500" style="padding-top: 50px">
     </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                 <a  href="{% url 'login' %}">Log In Again</a>
            </small>
        </div>
{% endblock content %}