{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin: 17%;
    margin-top: 6%; margin-bottom: 6%;" class="border" align="center">
        <h1 class="font-italic">Reset Password</h1> <br>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <center>
                        <form method="POST">
                {% csrf_token %}
                {{form | crispy}}
                            <br>
                  <button class="btn btn-secondary" type="submit">Request Password Reset</button>
                </form>
                    </center>

                </div>
            </div>
        </div>

        <img src="https://i.insider.com/5acd811742e1cc61ff0ef385?width=983&format=jpeg" width="700" height="500" style="padding-top: 50px; padding-bottom: 50px;">

    </div>
    {% comment %}asdfasdfasdfasdfasdfasdf{% endcomment %}
{% endblock content %}


