{% extends 'base.html' %}
{% block content %}
<div class="container">
    <hr>


    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
    <article class="gallery-wrap">
    <div class="img-big-wrap">
      <div>
          {% for image in images %}
            <img src="{{image}}">
          {% endfor %}
      </div>
    </div> <!-- slider-product.// -->
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-7">
    <article class="card-body p-5">
        <h3 class="title mb-3">{{ product.name }}</h3>

    <p class="price-detail-wrap">
        <span class="price h3 text-warning">
            <span class="currency">US $</span><span class="num"> {{ product.price }}</span>
        </span>
        <span>/per item</span>
    </p> <!-- price-detail-wrap .// -->
    <dl class="item-property">
      <dt>Description</dt>
        <dd><p>
            {{ product.description }}
        </p></dd>
    </dl>
     <dl class="item-property">
      <dt>Nutrition</dt>
        <dd><p>
            Calories: {{ nutrition.calories }}
        </p></dd>
         <dd><p>
            Fat: {{ nutrition.fat }}
        </p></dd>
         <dd><p>
            Carbs: {{ nutrition.carbs }}
        </p></dd>
         <dd><p>
            of which sugar: {{ nutrition.sugar }}
        </p></dd>
         <dd><p>
            Protein: {{ nutrition.protein }}
        </p></dd>
    </dl>
    <dl class="param param-feature">
      <dt>Weight</dt>
      <dd>{{ product.weight }}g</dd>
    </dl>  <!-- item-property-hor .// -->
    <dl class="param param-feature">
      <dt>Manufacturer</dt>
      <dd>{{ manufacturer.name }}</dd>
    </dl>  <!-- item-property-hor .// -->
    <dl class="param param-feature">
      <dt>Categories</dt>
      <dd>
        {% for cat in categories %}
            <p>{{cat}}</p>
        {% endfor %}</dd>
    </dl>  <!-- item-property-hor .// -->

    <hr>
        <div class="row">
            <div class="col-sm-5">
                <dl class="param param-inline">
                  <dt>Quantity: </dt>
                  <dd>
                    <select class="form-control form-control-sm" style="width:70px;">
                        <option> 1 </option>
                        <option> 2 </option>
                        <option> 3 </option>
                    </select>
                  </dd>
                </dl>  <!-- item-property .// -->
            </div> <!-- col.// -->
        </div> <!-- row.// -->
        <hr>
        <a href="#" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
    </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->


</div>
<!--container.//-->
{% endblock %}


<!-- original code if we want to  change the detail html somewhat
<div class="prod_details">
    <h2>{{product.name}}</h2>
    <p>{{product.description}}</p>
    <p>{{product.price}} Kr.</p>
    <p>{{product.weight}}g</p>
    <p>calories: {{nutrition.calories}}</p>
    <p>fat: {{nutrition.fat}}</p>
    <p>carbs: {{nutrition.carbs}}</p>
    <p>of which sugars: {{nutrition.sugar}}</p>
    <p>protein: {{nutrition.protein}}</p>
    <p>Made with love by: {{manufacturer.name}}</p>
    <p>categories:</p>
    {% for cat in categories %}
        <p>{{cat}}</p>
    {% endfor %}
    {% for image in images %}
        <img src="{{image}}">
    {% endfor %}

</div>
-->