
#footerpicture{
    border-radius: 5%;
    width: 80%;
    margin-top: 20%;
    margin-left: 20%;
}

.col-2 {
    flex: 0 0 auto;
    width: 15%;
}
#item3{
 background-color: red;
}

#item3 p{
    color: white;
    font-style: italic;
    font-size: 1rem;
}
#rightp{
    float: right;
    display: inline-block;
    margin-top: 1rem;
}

#logotext{
    float: left;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.footer-logo-image{
    float: left;
}
.company-rights{
    float: right;
}


#footerLogo{
    width: 8%;
    float: left;
    margin-top: 0.5rem;
}

@media (min-width: 768px) {
    #footerLogo {
        width: 10%;
    }
}


