

.navbar {
  margin-bottom: 20px;
  padding-left: 15%;
  padding-right: 15%;
  color: red;
}

@media screen and (max-width: 1199px) {
  #rightnavbar{
    flex-direction: column-reverse !important;
    align-items: baseline !important;
  }
  }


#rightnavbar {
  align-items: center;
  padding: 9px;
}

#loginbt {
  margin-left: 10px;
  margin-right: 5px;
}

.navbar .navbar-expand-xl .navbar-light .bg-light {
  color: red;
}



.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
}

.navbar-dark .nav-item:hover .nav-link {
  color: rgb(160, 125, 125);
}

#navlogo{
  cursor: url('/static/images/kim-mouse.png'), auto;
}

@media only screen and (max-width: 1199px) {
  #loginbt {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
  #registerbt{
    margin-bottom: 10px;
  }
}