{% load static %}
<h1>beginning of footer</h1>
<footer>
  <div class="container">
    <div class="row c2c2c2">
      <div class="col-6" id="item1">
        <img src="static/images/kimunhappy.png" alt="Kim is beeing unhappy" id="footerpicture">
      </div>
      <div class="col-6" id="item2">
        <section>
          <div>
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <div>
                      <h2>CONTACT US</h2>
                    </div>
                    <form method="post" data-form-title="CONTACT US">
                      <input type="hidden" data-form-email="true">
                      <div class="form-group">
                        <input type="text" class="form-control" name="name" required="" placeholder="Name*" data-form-field="Name">
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
                      </div>
                      <div class="form-group">
                        <input type="tel" class="form-control" name="phone" placeholder="Phone" data-form-field="Phone">
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" name="message" placeholder="Message*" rows="7" data-form-field="Message"></textarea>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-lg btn-danger">CONTACT US</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12" id="item3">
        <img src="static/images/redstarcereal.png" alt="Company Logo" id="footerLogo">
        <p id="leftp">Red Star Cereal</p>
        <p id="rightp">© 2021. All rights reserved</p>
      </div>
    </div>

  </div>
</footer>




