{% load static %}
<footer>
  <div class="container">
    <div class="row c2c2c2">
      <div class="col-6" id="item2">
        <section>
          <div>
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12" id="item3">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
                <div>
                    <img src="{% static 'images/logo2.0.png' %}" alt="Company Logo" id="footerLogo">
                </div>
              <p id="leftp">Red Star Cereal</p>
            </div>
            <div class="col-sm">
              <p id="rightp">© 2021. All rights reserved</p>
            </div>
          </div>
        </div>








      </div>
    </div>

  </div>
</footer>




