{% load static %}
<div class="container">
  <div class="nav-scroller py-1 mb-2 px-5">
    <nav class="nav d-flex justify-content-between">
      <div class="logo">
    <a class="navbar-brand" href="/home">
          <img src="{% static 'images/logo2.0.png' %}" alt="Company Logo" id="navlogo">
        </a>
      </div>
      <a class="p-2 link-secondary" href="#">Products</a>
      <a class="p-2 link-secondary" href="#">Subscriptions</a>
      <a class="p-2 link-secondary" href="#">Manufacturers</a>
      <div class = "searchbar">
  <form action="/search" method="get">
    <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
    <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
  </form>
        </div>
<!--
      <a class="p-2 link-secondary" href="#">My Account</a>
-->   <div>
<!--      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>-->
<span class="material-icons account">
favorite
</span>
      <a class="account button" href="/home/login">
      <span class="material-icons account">account_circle</span>
         </a>
<span class="material-icons account">
shopping_cart
</span>
      </div>
    </nav>
  </div>
</div>


  </div><!-- /.row -->

</main><!-- /.container -->