{% extends 'base.html' %}

{% block content%}
    <h1>Your Cart</h1>
    <div class="container" >
        <div class="row">
            {% for item in cart %}
                <div class="col-12" id="row{{ item.product.id }}">
                    <div class="item-name">
                        <p>name: {{ item.product.name }}</p>
                    </div>
                    <div>
                        <p>amount: {{ item.amount }}</p>
                    </div>
                    <div class="item-price">
                        <p>price: {{ item.price }}</p>
                    </div>
                    <button type="button" class="btn btn-block btn-primary btn-circle btn-icon-left" onclick="deleteFromCart(this)" id="{{ item.product.id }}">
                        <p>Delete</p>
                    </button>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <div class="cart-total">
                    <p>Total</p>
                    <p id="cart-total">{{ total }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button onclick="window.location.href='/home/'">Continue Shopping</button>
            </div>
            <div class="col-6">
                <button >Proceed to checkout</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                some image here
                <img>
            </div>
        </div>
    </div>



{% endblock content%}