{% extends 'base.html' %}

{% block content%}
    <div style="margin-left: 15%; margin-right: 15%;">
        <h1 style="text-align: center">Your Cart</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Item Image</th>
                <th scope="col">Item Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
              {% for item in cart %}
            <tr>
            <td><img src="{{ item.product.first_image }}" style="width: 150px"/></td>
              <td>{{ item.product.name }}</td>
              <td> {{ item.amount }}</td>
              <td>{{ item.price }} isk</td>
            </tr>
            <tr>
               {% endfor %}
            <tr>
                 <td></td>
              <td></td>
              <td></td>
              <td><p style="font-weight: bold;">Total</p>{{ total }} isk</td>
            </tr>
          </tbody>
        </table>
        <div>
            <button class="btn btn-danger" style="float:right;">Proceed to checkout</button>
            <button class="btn btn-secondary" onclick="window.location.href='/home/'">Continue Shopping</button>
        </div>
    </div>

{% endblock content%}