{% extends 'base.html' %}

{% block content %}

    <div class="container" style="text-align: center">
        <div class="row">
            <img src="">
        </div>
        <div class="row">
            <div class="col-12">
            </div>
            <div class="col-12" style="margin-top: 8%;">
                <h3>Thank you for your purchase!</h3>
            </div>
        </div>
        <div class="row">
            <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2Fa2829ede-9c96-11e7-8b50-0b9f565a23e1?fit=scale-down&source=next&width=700" style="width: 50%; margin-left: auto;
    margin-right: auto;">
        </div>
    
    </div>


{% endblock content %}