{% extends 'base.html' %}

{% block content %}
    <h1>Checkout Information</h1>
    <h3>Let's finish up!</h3>

    <div class="container">
        <h2>Is This Correct?</h2>
        <div class="row">
            <div class="col-12">

                <p>Name: {{ customer.first_name }} {{ customer.last_name }}</p>
            </div>

            <div class="col-12">
                <p>Email: {{ customer.email }}</p>
            </div>
            <div class="col-12">
                <p>Country: {{ customer.country.name }}</p>
            </div>
            <div class="col-12">
                <p>City: {{ customer.city }}</p>
            </div>
            <div class="col-12">
                <p>Shipping address: {{ customer.street }} {{ customer.house_number }}</p>
            </div>
            <div class="col-12">
                <p>Postal Code: {{ customer.postal_code }}</p>
            </div>
        </div>
        <div class="row">
            Payment Information
            <div class="col-12">
                <p>Card holder: {{ payment.card_holder }}</p>
            </div>
            <div class="col-12">
                <p>Credit Card Number: {{ payment.cc_number }}</p>
            </div>
            <div class="col-12">
                <p>Expiration date M/Y: {{ payment.cc_expiry }}</p>
                <p>CVC: {{ payment.cc_code }}</p>
            </div>
        </div>
        <button class="button btn">Make Purchase</button>
        <div class="row">
            <img src="">
        </div>

         <h1>Your Cart</h1>
        <div class="container" >
            <div class="row">
                {% for item in cart %}
                    <div class="col-12" id="row{{ item.product.id }}">
                        <div class="item-name">
                            <p>name: {{ item.product.name }}</p>
                        </div>
                        <div>
                            <p>amount: {{ item.amount }}</p>
                        </div>
                        <div class="item-price">
                            <p>price: {{ item.price }}</p>
                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="cart-total">
                        <p>Total</p>
                        <p id="cart-total">{{ total }}</p>
                    </div>
                </div>
            </div>
            <button onclick="confirmOrder()">Confirm order</button>


    </div>


{% endblock content %}